
@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-thin.ttf') format('truetype'), url('woff2/iosevka-corax-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extendedthin.ttf') format('truetype'), url('woff2/iosevka-corax-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-thinitalic.ttf') format('truetype'), url('woff2/iosevka-corax-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendedthinitalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-extralight.ttf') format('truetype'), url('woff2/iosevka-corax-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extendedextralight.ttf') format('truetype'), url('woff2/iosevka-corax-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-extralightitalic.ttf') format('truetype'), url('woff2/iosevka-corax-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendedextralightitalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-light.ttf') format('truetype'), url('woff2/iosevka-corax-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extendedlight.ttf') format('truetype'), url('woff2/iosevka-corax-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-lightitalic.ttf') format('truetype'), url('woff2/iosevka-corax-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendedlightitalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-regular.ttf') format('truetype'), url('woff2/iosevka-corax-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extended.ttf') format('truetype'), url('woff2/iosevka-corax-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-italic.ttf') format('truetype'), url('woff2/iosevka-corax-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendeditalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-medium.ttf') format('truetype'), url('woff2/iosevka-corax-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extendedmedium.ttf') format('truetype'), url('woff2/iosevka-corax-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-mediumitalic.ttf') format('truetype'), url('woff2/iosevka-corax-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendedmediumitalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-semibold.ttf') format('truetype'), url('woff2/iosevka-corax-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extendedsemibold.ttf') format('truetype'), url('woff2/iosevka-corax-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-semibolditalic.ttf') format('truetype'), url('woff2/iosevka-corax-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendedsemibolditalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-bold.ttf') format('truetype'), url('woff2/iosevka-corax-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extendedbold.ttf') format('truetype'), url('woff2/iosevka-corax-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-bolditalic.ttf') format('truetype'), url('woff2/iosevka-corax-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendedbolditalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-extrabold.ttf') format('truetype'), url('woff2/iosevka-corax-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extendedextrabold.ttf') format('truetype'), url('woff2/iosevka-corax-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-extrabolditalic.ttf') format('truetype'), url('woff2/iosevka-corax-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendedextrabolditalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-corax-heavy.ttf') format('truetype'), url('woff2/iosevka-corax-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-corax-extendedheavy.ttf') format('truetype'), url('woff2/iosevka-corax-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-corax-heavyitalic.ttf') format('truetype'), url('woff2/iosevka-corax-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Corax Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-corax-extendedheavyitalic.ttf') format('truetype'), url('woff2/iosevka-corax-extendedheavyitalic.woff2') format('woff2');
}