nav {
    box-sizing: border-box;
    border: 5px solid var(--main-dark-border);
    border-style: inset;

    flex: 0 0 1em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;

    padding: 0.4em 0.4em;
    gap: 0.2em;

    background-color: var(--main-dark);
}

.tab {
    flex: 1 0 0;

    padding: 0em 1em;
    border: 5px solid var(--accent);
    border-style: outset;
    text-align: center;

    display: flex;
    align-items: center;
    justify-items: center;

    color: var(--accent) !important;
    background-color: var(--main) !important;
}

.tab-enabled:hover {
    color: var(--accent-highlighted) !important;
    text-decoration: none !important;
    border-color: var(--accent-highlighted) !important;
    background-color: var(--main-highlighted) !important;
}

.tab-disabled {
    color: var(--main) !important;
    border-color: var(--main);
    border-style: inset;
    background-color: var(--main-dark) !important;
}
