a:link {
    color: var(--text-highlight);
    background-color: transparent;
    text-decoration: none;
    text-shadow: none;
}

a:hover {
    color: var(--text-highlight-lighter);
    background-color: transparent;
    text-decoration: none !important;
}

a:hover .section {
    color: var(--text-highlight-lighter);
    background-color: transparent;
    text-decoration: underline;
}

button:active,
a:active {
    color: var(--text-highlight-darker);
    background-color: transparent;
}

a:hover, a:active {
    text-decoration: underline;
}

button:disabled,
a:disabled {
    pointer-events: none;
}

a:visited {
    color: var(--text-highlight);
}

site-button {
    box-sizing: content-box;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

site-button:hover,
site-button:focus {
    background: var(--main-light);
}

site-button:hover {
    cursor: pointer;
}

.content-button-wrapper {
    flex: 1 0 1em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: normal;

    gap: 0.4em;
}

.content-button {
    flex: 1 1 15em;

    min-width: 15em;

    padding: 0em 1em;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.icon-button {
    width: 2em;  
    height: 2em;  
    padding: 1.3em;

    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}