.sidebar-container {
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    margin: 0 5px;
    border: 5px solid var(--main-light); 
    border-bottom-color: var(--main-dark);
    border-right-color: var(--main-dark);
    
    justify-items: flex-start;
}

.sidebar {
    border: 5px solid var(--main); 
}

.sidebar-controls-outer {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: left;
    background-color: var(--main);
}

.sidebar-controls {
    border: 5px solid var(--main-dark); 
    border-bottom-color: var(--main-light);
    border-right-color: var(--main-light);
    display: flex;
    flex-direction: row;
    flex: 0 0 0;
    justify-content: left;
}

.sidebar-content-outer {
    border-top: 5px solid var(--main); 

    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: left;
}